#Question 1: Tuple Basics
Define a tuple containing the names of five countries. Access and print the third country from the tuple.

In [3]:
d=('India', 'Bangladesh', 'Bhutan', 'Thailand', 'Indonesia')

In [4]:
d[2]

'Bhutan'

#Question 2: Unpacking Tuples
Write a Python program that defines a tuple containing a student's name and their score in a test.
Unpack the tuple to separate the name and score, and then print them.

In [62]:
marks=(45,48,47,43,40)

In [64]:
marks

(45, 48, 47, 43, 40)

In [65]:
Sudip, Jamal, Kuldip, Sarita, Mumppy = marks

In [67]:
print ("Marks of Sudip is {}".format(Sudip))
print ("Marks of Jamal is {}".format(Jamal))
print ("Marks of Kuldip is {}".format(Kuldip))
print ("Marks of Sarita is {}".format(Sarita))
print ("Marks of Mumppy is {}".format(Mumppy))

Marks of Sudip is 45
Marks of Jamal is 48
Marks of Kuldip is 47
Marks of Sarita is 43
Marks of Mumppy is 40

#Question 3: Tuple Concatenation
Write a Python program that takes two tuples as input and returns 
a new tuple containing the elements from both tuples.

In [68]:
d=(1,2,3,4,5)

In [69]:
d

(1, 2, 3, 4, 5)

In [70]:
s=(6,7,8,9,10)

In [71]:
s

(6, 7, 8, 9, 10)

In [76]:
r=d+s

In [77]:
r

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

#Question 4: Immutable Nature of Tuples
Explain the concept of immutability in tuples and provide an example to demonstrate it.

In [78]:
a=(1,2,4,5)

In [79]:
a

(1, 2, 4, 5)

In [83]:
a[2]

4

In [80]:
a[2]=7 #TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

#Question 5: Returning Multiple Values
Write a Python function that takes two numbers as input and
returns a tuple containing their sum and product.