Q1.Write a Python function that takes a list of numbers as input and
returns the maximum and minimum values in the list.

In [43]:
d=[111,101,200,321,450,55,600,200]

In [44]:
d

[111, 101, 200, 321, 450, 55, 600, 200]

In [45]:
max=d[0]
min=d[0]
for i in range (len(d)):
    if d[i]>max:
        max=d[i]
    elif d[i]<min:
        min=d[i]
print(min)
print(max)

55
600

Question 2: List Comprehension
Write a Python program that takes a list of numbers and 
returns a new list containing only the even numbers from the original list.

In [46]:
d

[111, 101, 200, 321, 450, 55, 600, 200]

In [47]:
for i in d:
    if i%2==0:
        print(i)

200
450
600
200

In [48]:
[i for i in d if i%2==0]

[200, 450, 600, 200]

Question 3: List Reversal
Write a Python function that takes a list as 
input and returns a new list with the elements reversed.

In [49]:
d

[111, 101, 200, 321, 450, 55, 600, 200]

In [50]:
s=d[::-1]

In [51]:
s

[200, 600, 55, 450, 321, 200, 101, 111]

Question 4: Removing Duplicates
Write a Python function that takes a list as input and
returns a new list with all the duplicates removed.

In [52]:
d

[111, 101, 200, 321, 450, 55, 600, 200]

In [53]:
t= set(d)

In [54]:
t

{55, 101, 111, 200, 321, 450, 600}

In [57]:
d=list(t)

In [58]:
d

[321, 450, 101, 200, 111, 55, 600]

Question 1: Dictionary Basics

Create an empty dictionary called my_dict.
Add the key-value pairs: "name" with the value "Alice", "age" with the value 25, and "city" with the value "New York" to my_dict.
Print the value associated with the key "age".
Update the value of the "age" key to 26.
Remove the key "city" from the dictionary.Check if the key "name" exists in the dictionary.

In [63]:
my_dict= {}

In [64]:
type(my_dict)

dict

In [66]:
s={'name':'Alice', 'age':25, 'city':'New York'}

In [67]:
my_dict=s

In [68]:
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [71]:
my_dict["age"]=26

In [72]:
my_dict

{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [81]:
my_dict.pop('city')

'New York'

In [82]:
my_dict

{'name': 'Alice', 'age': 26}

In [83]:
my_dict.get("name")

'Alice'

Question 2: Dictionary Manipulation

Create two dictionaries: dict1 with keys "a", "b", and "c" mapping to values 1, 2, and 3, and
dict2 with keys "b", "c", and "d" mapping to values 4, 5, and 6.
Merge dict2 into dict1 to update the values of common keys, and add the missing keys.
Calculate the sum of all values in the merged dictionary.

In [57]:
d1= {"a":1,"b":2,"c":3}

In [58]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [59]:
d2= {"b":4,"c":5,"d":6}

In [60]:
d2

{'b': 4, 'c': 5, 'd': 6}

d3 = {**d1,**d2}
print(d3)

In [63]:
d3

NameError: name 'd3' is not defined

Question 3: Dictionary Iteration

Create a dictionary with at least 5 key-value pairs of your choice.
Write a loop to iterate through the dictionary and print each key and its corresponding value.

In [64]:
d4={"a":1,"b":2,"c":3,"f":5, "g":6}

In [65]:
d4

{'a': 1, 'b': 2, 'c': 3, 'f': 5, 'g': 6}

In [71]:
for k,v in d4.items():
    print(k,v)

a 1
b 2
c 3
f 5
g 6